# Build path
target/
dependency.txt
dependency-reduced-pom.xml

# Path for datas
datas/
log/
*.ddl
!src/**/datas

# Visual Studio Code files
.vscode/
.factorypath
.settings/
.project
.classpath
.apt_generated/
.apt_generated_tests/

# IntelliJ files
.idea/